# نادیده گرفتن همه فایل‌ها به جز .cs
*.bin
!*.cs

# حذف فولدرهای کامپایل و باینری
bin/
obj/

# نادیده گرفتن تنظیمات شخصی ویژوال استودیو
.vscode/
*.suo
*.user
*.cache

# حذف فایل‌های دیتابیس و لاگ‌ها
*.db
*.log

*.csproj
*.png
*.jpg
*.vsidx